.heading2Xl {
    font-size: 3.5rem;
    line-height: .6;
    font-weight: 450;
    letter-spacing: -0.05rem;
    margin-top: 1rem;
    margin-bottom: 0;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
.heading2XlThin {
    font-size: 3.5rem;
    line-height: .6;
    font-weight: 350;
    letter-spacing: -0.05rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .subHead {
    font-size: 1.15rem;
    line-height: 1;
    margin: 1rem 0;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }

  .darkButton {
    color: rgb(40, 40, 40)
  }

  .darkButton:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .aaveText {
    background: -webkit-linear-gradient(45deg,rgb(48,185,196), rgb(181,82,158));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .avaxText {
    color: #e84142
  }

  .fantomText {
    color: #13b5ec
  }